# Research by: OtÃ¡vio Londero & Amir Oliveira


### Official Data Link:
- Business licences 1997 to 2012:

https://opendata.vancouver.ca/explore/dataset/business-licences-1997-to-2012/information/?disjunctive.businesssubtype&disjunctive.status&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJsaW5lIiwiZnVuYyI6IkNPVU5UIiwieUF4aXMiOiJob3VzZSIsInNjaWVudGlmaWNEaXNwbGF5Ijp0cnVlLCJjb2xvciI6IiMwMjc5QjEifV0sInhBeGlzIjoiZm9sZGVyeWVhciIsIm1heHBvaW50cyI6bnVsbCwidGltZXNjYWxlIjoiIiwic29ydCI6IiIsInNlcmllc0JyZWFrZG93blRpbWVzY2FsZSI6IiIsImNvbmZpZyI6eyJkYXRhc2V0IjoiYnVzaW5lc3MtbGljZW5jZXMtMTk5Ny10by0yMDEyIiwib3B0aW9ucyI6eyJkaXNqdW5jdGl2ZS5idXNpbmVzc3N1YnR5cGUiOnRydWUsImRpc2p1bmN0aXZlLnN0YXR1cyI6dHJ1ZX19fV0sImRpc3BsYXlMZWdlbmQiOnRydWUsImFsaWduTW9udGgiOnRydWUsInRpbWVzY2FsZSI6IiJ9
- Business licences 2013 to 2024:

https://opendata.vancouver.ca/explore/dataset/business-licences-2013-to-2024/information/?disjunctive.status&dataChart=eyJxdWVyaWVzIjpbeyJjb25maWciOnsiZGF0YXNldCI6ImJ1c2luZXNzLWxpY2VuY2VzLTIwMTMtdG8tMjAyNCIsIm9wdGlvbnMiOnsiZGlzanVuY3RpdmUuc3RhdHVzIjp0cnVlfX0sImNoYXJ0cyI6W3siYWxpZ25Nb250aCI6dHJ1ZSwidHlwZSI6ImxpbmUiLCJmdW5jIjoiQVZHIiwieUF4aXMiOiJmZWVwYWlkIiwic2NpZW50aWZpY0Rpc3BsYXkiOnRydWUsImNvbG9yIjoiIzAyNzlCMSJ9XSwieEF4aXMiOiJleHRyYWN0ZGF0ZSIsIm1heHBvaW50cyI6IiIsInRpbWVzY2FsZSI6InllYXIiLCJzb3J0IjoiIn1dLCJkaXNwbGF5TGVnZW5kIjp0cnVlLCJhbGlnbk1vbnRoIjp0cnVlfQ%3D%3D&location=12,49.2493,-123.12155

#### All imports of the project

In [1]:
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, DoubleType
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lower, when, length

#### Creating the spark session ...

In [2]:
spark = SparkSession.builder.appName('Licences-Research').master("local[6]").getOrCreate()

In [3]:
schema = StructType([
    StructField("folderyear", StringType(), True),
    StructField("licencersn", StringType(), True),
    StructField("licencenumber", StringType(), True),
    StructField("licencerevisionnumber", StringType(), True),
    StructField("businessname", StringType(), True),
    StructField("businesstradename", StringType(), True),
    StructField("status", StringType(), True),
    StructField("issueddate", TimestampType(), True),
    StructField("expireddate", TimestampType(), True),
    StructField("businesstype", StringType(), True),
    StructField("businesssubtype", StringType(), True),
    StructField("unit", StringType(), True),
    StructField("unittype", StringType(), True),
    StructField("house", StringType(), True),
    StructField("street", StringType(), True),
    StructField("city", StringType(), True),
    StructField("province", StringType(), True),
    StructField("country", StringType(), True),
    StructField("postalcode", StringType(), True),
    StructField("localarea", StringType(), True),
    StructField("numberofemployees", StringType(), True),
    StructField("feepaid", DoubleType(), True),
    StructField("extractdate", TimestampType(), True),
    StructField("geom", StringType(), True),
    StructField("geo_point_2d", StringType(), True)
])

#### Importing the DATA, cheching the SCHEMA and RAW count().

In [4]:
df = spark.read.csv (['../data/raw/business-licences-1997-to-2012.csv',
                    '../data/raw/business-licences-2013-to-2024.csv'], sep = ';', header = True, schema = schema)

In [5]:
df.printSchema()

root
 |-- folderyear: string (nullable = true)
 |-- licencersn: string (nullable = true)
 |-- licencenumber: string (nullable = true)
 |-- licencerevisionnumber: string (nullable = true)
 |-- businessname: string (nullable = true)
 |-- businesstradename: string (nullable = true)
 |-- status: string (nullable = true)
 |-- issueddate: timestamp (nullable = true)
 |-- expireddate: timestamp (nullable = true)
 |-- businesstype: string (nullable = true)
 |-- businesssubtype: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- unittype: string (nullable = true)
 |-- house: string (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- province: string (nullable = true)
 |-- country: string (nullable = true)
 |-- postalcode: string (nullable = true)
 |-- localarea: string (nullable = true)
 |-- numberofemployees: string (nullable = true)
 |-- feepaid: double (nullable = true)
 |-- extractdate: timestamp (nullable = true)
 |-- geom: string (nullable = true)
 |-- geo_point_2d: string (nullable = true)

In [6]:
df.count()

1739924

In [12]:
c1 = len(df.columns)
print(l1)

25

#### CLEANED dataframe, checking SCHEMA and POS count().

In [14]:
df = df.drop ('folderyear', 'licencenumber', 'licencerevisionnumber', 'unit',  'unittype', 'street', 'province', 'country',  'postalcode', 'extractdate', 'geom', 'geo_point_2d')

df = df.withColumn("City", lower(col("City")))

metro_vancouver_cities = [
    "west vancouver", "w vancouver", "vancouver", "burnaby", "burnaby", "coquitlam",
    "north vancouver", "richmond", "delta", "surrey", "langley", "langely",
    "langley township", "port coquitlam", "port moody", "maple ridge",
    "new westminster", "new westminster", "anmore", "lions bay", "bowen island",
    "belcarra", "white rock", "pitt meadows", "north delta", "south delta",
    "north surrey", "south surrey", "fort langley"
]

df = df.withColumn("City",
    when(col("City") == "w vancouver", "west vancouver")
    .when(col("City") == "langely", "langley")
    .when(col("City") == "langley township", "langley")
    .when(col("City") == "south delta", "delta")
    .when(col("City") == "north delta", "delta")
    .when(col("City") == "north surrey", "surrey")
    .when(col("City") == "south surrey", "surrey")
    .when(col("City") == "fort langley", "langley")
    .otherwise(col("City"))
)

df = df.filter(
    (col("City").isin(metro_vancouver_cities)) & (col("City").isNotNull())
)

In [15]:
df.printSchema()

root
 |-- licencersn: string (nullable = true)
 |-- businessname: string (nullable = true)
 |-- businesstradename: string (nullable = true)
 |-- status: string (nullable = true)
 |-- issueddate: timestamp (nullable = true)
 |-- expireddate: timestamp (nullable = true)
 |-- businesstype: string (nullable = true)
 |-- businesssubtype: string (nullable = true)
 |-- house: string (nullable = true)
 |-- City: string (nullable = true)
 |-- localarea: string (nullable = true)
 |-- numberofemployees: string (nullable = true)
 |-- feepaid: double (nullable = true)

In [9]:
df.show(5)

+----------+--------------------+--------------------+------+-------------------+-------------------+--------------------+--------------------+-----+--------------+--------------------+-----------------+-------+
|licencersn|        businessname|   businesstradename|status|         issueddate|        expireddate|        businesstype|     businesssubtype|house|          City|           localarea|numberofemployees|feepaid|
+----------+--------------------+--------------------+------+-------------------+-------------------+--------------------+--------------------+-----+--------------+--------------------+-----------------+-------+
|    104657|Poltergeist Produ...|                NULL|Issued|1997-11-12 00:00:00|1997-12-31 00:00:00|Electrical-Tempor...|                NULL| 2400|       burnaby|                NULL|              000|   85.0|
|    104806|INT'L MONEY REMIT...|                NULL|Issued|1997-11-14 00:00:00|1997-12-31 00:00:00|Moving/Transfer S...|   Courier/Messenger| 1281|     vancouver|Kensington-Cedar ...|              000|   95.0|
|    104861|  (Christopher Jiew)|  Renov-It Interiors|Issued|1997-11-17 00:00:00|1997-12-31 00:00:00|          Contractor|Alterations & Rep...| NULL|port coquitlam|                NULL|              000|   85.0|
|    104874|Tom Drysdale & Sh...| Drysdale Industries|Issued|1997-11-17 00:00:00|1997-12-31 00:00:00|          Contractor|          Demolition| NULL|    port moody|                NULL|              000|   85.0|
|    104955|       (Polly Guman)|Agro Excavating &...|Issued|1997-11-19 00:00:00|1997-12-31 00:00:00|          Contractor|          Excavation| NULL|        surrey|                NULL|              000|   85.0|
+----------+--------------------+--------------------+------+-------------------+-------------------+--------------------+--------------------+-----+--------------+--------------------+-----------------+-------+
only showing top 5 rows

In [16]:
df.count()

1675781

In [17]:
c2 = len(df.columns)
print(c2)

13

#### Cleaned 64,143 Rows in Total

In [11]:
df.describe().show()

+-------+------------------+--------------------+--------------------+---------+--------------------+-------------------+------------------+----------+---------------+-----------------+-----------------+
|summary|        licencersn|        businessname|   businesstradename|   status|        businesstype|    businesssubtype|             house|      City|      localarea|numberofemployees|          feepaid|
+-------+------------------+--------------------+--------------------+---------+--------------------+-------------------+------------------+----------+---------------+-----------------+-----------------+
|  count|           1675781|             1644219|              674225|  1675781|             1675781|             796158|           1010022|   1675781|        1387018|          1675781|          1414540|
|   mean| 1930975.014467881|                NULL|            Infinity|     NULL|                NULL|               NULL|1990.5947634219995|      NULL|           NULL|7749.015973029888|275.7873120519745|
| stddev|1325922.5363974676|                NULL|                 NaN|     NULL|                NULL|               NULL|  2702.05076147984|      NULL|           NULL|6639825.650159785|813.8822820470779|
|    min|                10|!Exotics BySIYTHE...|"""All Right"" Cl...|Cancelled|2010 Winter Games...|      1-900 Service|                 0|    anmore|  Arbutus-Ridge|               .1|          -1624.5|
|    max|            999999|        xMatters Inc|            xyz cafe|  Pending|Window Cleaner *H...|Writing Instruction|           c/o1215|white rock|West Point Grey|               99|          87228.0|
+-------+------------------+--------------------+--------------------+---------+--------------------+-------------------+------------------+----------+---------------+-----------------+-----------------+

# Questions and SQL queries

In [12]:
df.createOrReplaceTempView('data')

### Question 01
- Which neighbourhoods or local areas offer the greatest potential for new business development?
- Necessary Data: `localareas`, `businesstype`, `status`, `numberofemployees`, `issueddate`,  `expireddate`, `businesssubtype`, `city`.

#### Index
- localarea of Vancouver: Oakridge, Shaughnessy, Fairview, Mount Pleasant, Hastings-Sunrise, Dunbar-Southlands, Renfrew-Collingwood, Victoria-Fraserview, Riley Park, Sunset, Grandview-Woodland, Strathcona, Marpole, Kensington-Cedar Cottage, Downtown, West End, Killarney, South Cambie, Kitsilano, Arbutus-Ridge, West Point Grey, Kerrisdale.

https://opendata.vancouver.ca/explore/dataset/local-area-boundary/map/?disjunctive.name&location=12,49.27206,-123.07709

In [13]:
spark.sql   ("""
-- Counts how many licenses have been issued recently (last four years) by localarea.
            WITH recent_issued AS (
            SELECT  localarea,
                    COUNT(*) AS recent_licenses
            FROM data
            WHERE status = 'Issued'
                AND YEAR(issueddate) >= 2020
                AND localarea IS NOT NULL
            GROUP BY localarea),

-- Counts how many businesses were closed by neighborhood â€” represents turnover or churn.
            closures AS (
            SELECT  localarea,
                    COUNT(*) AS closed_licenses
            FROM data
            WHERE status IN ('Inactive', 'Gone Out of Business')
                AND expireddate IS NOT NULL
                AND localarea IS NOT NULL
            GROUP BY localarea),

-- Count the total number of companies and calculate the average number of employees per neighborhood.
            total_and_employees AS (
            SELECT  localarea,
                    COUNT(*) AS total_licenses,
                    ROUND(AVG(  CASE  WHEN numberofemployees IS NOT NULL AND numberofemployees != ''
                                      THEN CAST(numberofemployees AS INT)
                                      ELSE NULL
                                END), 1) AS avg_employees
            FROM data
            WHERE localarea IS NOT NULL
            GROUP BY localarea),


            opportunity_score AS (
            SELECT  t.localarea,
                    COALESCE(r.recent_licenses, 0) AS recent_licenses,
                    COALESCE(c.closed_licenses, 0) AS closed_licenses,
                    t.total_licenses,
                    t.avg_employees,
                    ROUND(COALESCE(r.recent_licenses, 0) * 1.0 / t.total_licenses, 3) AS growth_ratio,
                    ROUND(COALESCE(c.closed_licenses, 0) * 1.0 / t.total_licenses, 3) AS churn_ratio
            FROM total_and_employees t
            LEFT JOIN recent_issued r ON t.localarea = r.localarea
            LEFT JOIN closures c ON t.localarea = c.localarea)

-- Combine
            SELECT *
            FROM opportunity_score
            WHERE total_licenses > 100 -- filter out low-volume neighborhoods
            ORDER BY growth_ratio DESC, churn_ratio DESC, avg_employees ASC

            """).show(25, truncate=False)

+------------------------+---------------+---------------+--------------+-------------+------------+-----------+
|localarea               |recent_licenses|closed_licenses|total_licenses|avg_employees|growth_ratio|churn_ratio|
+------------------------+---------------+---------------+--------------+-------------+------------+-----------+
|Downtown                |28066          |15262          |318436        |2719.6       |0.088       |0.048      |
|Killarney               |1999           |666            |23697         |1.2          |0.084       |0.028      |
|Shaughnessy             |793            |255            |9468          |2.2          |0.084       |0.027      |
|South Cambie            |1342           |422            |15961         |0.9          |0.084       |0.026      |
|Mount Pleasant          |7169           |3387           |87258         |2.7          |0.082       |0.039      |
|Marpole                 |3982           |1565           |49053         |2.7          |0.081       |0.032      |
|Fairview                |9568           |4485           |120034        |3.1          |0.080       |0.037      |
|West End                |6575           |3938           |85575         |32.0         |0.077       |0.046      |
|Strathcona              |3685           |1792           |47693         |4.3          |0.077       |0.038      |
|Kerrisdale              |1518           |616            |19729         |2.1          |0.077       |0.031      |
|Dunbar-Southlands       |2065           |720            |26941         |1.2          |0.077       |0.027      |
|Riley Park              |3798           |1637           |50245         |1.3          |0.076       |0.033      |
|Kitsilano               |7907           |3447           |104687        |1.6          |0.076       |0.033      |
|Renfrew-Collingwood     |4874           |2089           |64293         |84.1         |0.076       |0.032      |
|Grandview-Woodland      |5071           |2220           |67405         |2.0          |0.075       |0.033      |
|Arbutus-Ridge           |1578           |681            |20989         |1.7          |0.075       |0.032      |
|Sunset                  |4352           |1857           |58281         |17.1         |0.075       |0.032      |
|Kensington-Cedar Cottage|6315           |3106           |87952         |1.0          |0.072       |0.035      |
|West Point Grey         |1507           |637            |20960         |1.2          |0.072       |0.030      |
|Victoria-Fraserview     |2419           |910            |33607         |1.0          |0.072       |0.027      |
|Hastings-Sunrise        |3878           |1608           |54748         |5.0          |0.071       |0.029      |
|Oakridge                |1221           |682            |20006         |2.2          |0.061       |0.034      |
+------------------------+---------------+---------------+--------------+-------------+------------+-----------+

#### ðŸ“ˆ Localareas with the **greatest potential for new business development** are those that show:

- High proportion of recently issued business licences
  $$
  \text{Growth Ratio} = \frac{\text{Recent Licences}}{\text{Total Licences}}
  $$
- High proportion of businesses that have closed
  $$
  \text{Churn Ratio} = \frac{\text{Closed Licences}}{\text{Total Licences}}
  $$
- Lower average number of employees per business
  $$
  \text{Average Employees} = \frac{\sum \text{Number of Employees}}{\text{Total Businesses}}
  $$

These metrics together suggest areas where:

- Business turnover is high (indicating opportunity or market gaps)
- Business formation is active (indicating interest or accessibility)
- The entry barrier is lower (suggested by fewer employees per business)

ðŸ§­ Such areas are considered to have **strong potential for new business development**.

### Question 02
- What business type has the fastest average growth in the number of licences issued per year and city?
- Necessary Data: `businesstype`, `licencersn`, `issueddate`, `status`, `city`

### YoY Growth
- The formula for year-over-year growth is:YOY growth = [(Current period value â€“ Last period value) / Last period value] x 100Where: The current period is the value at the time of measurement.

$\text{YoY Growth} = \frac{\text{Current Year Value} - \text{Previous Year Value}}{\text{Previous Year Value}}$

![YoY Growth Formula](../images/yoyformula.jpg)

In [14]:
spark.sql   ("""
-- Counts the total number of licenses issued by type + city + year.
            WITH issued_per_year AS (
            SELECT  city,
                    businesstype,
                    YEAR(issueddate) AS year,
                    COUNT(DISTINCT licencersn) AS total
            FROM data
            WHERE status = 'Issued'
            AND city IS NOT NULL
            AND businesstype IS NOT NULL
            AND issueddate IS NOT NULL
            AND licencersn IS NOT NULL
            GROUP BY city, businesstype, YEAR(issueddate)),

-- Calculates the percentage growth year over year:
            growth_calc AS (
            SELECT  curr.city,
                    curr.businesstype,
                    curr.year,
                    curr.total,
                    prev.total AS prev_total,
                    ROUND((curr.total - prev.total) * 1.0 / prev.total, 3) AS yoy_growth
            FROM issued_per_year curr
            JOIN issued_per_year prev
            ON curr.city = prev.city
            AND curr.businesstype = prev.businesstype
            AND curr.year = prev.year + 1),

-- Calculates the average annual growth for each type and city.
            avg_growth AS (
            SELECT  city,
                    businesstype,
                    ROUND(AVG(yoy_growth), 3) AS avg_yoy_growth
            FROM growth_calc
            GROUP BY city, businesstype)

-- Top 20 business types with highest growth per city
            SELECT *
            FROM avg_growth
            WHERE avg_yoy_growth IS NOT NULL
            ORDER BY avg_yoy_growth DESC
            LIMIT 20

            """).show(truncate=False)

+--------------+--------------------------------------+--------------+
|city          |businesstype                          |avg_yoy_growth|
+--------------+--------------------------------------+--------------+
|vancouver     |Single Detached House                 |205.154       |
|vancouver     |Office                                |97.234        |
|vancouver     |Secondary Suite - Permanent           |62.612        |
|vancouver     |Wholesale  Dealer                     |54.794        |
|vancouver     |Health Services                       |43.624        |
|vancouver     |Restaurant Class 1                    |41.597        |
|vancouver     |Contractor                            |38.765        |
|vancouver     |Apartment House Strata                |36.300        |
|vancouver     |Ltd Service Food Establishment        |15.112        |
|vancouver     |Computer Services                     |12.386        |
|vancouver     |Health and Beauty                     |8.598         |
|vancouver     |Cosmetologist                         |7.489         |
|vancouver     |Liquor Delivery Services *Historic*   |7.000         |
|vancouver     |Short-Term Rental                     |6.650         |
|vancouver     |Contractor - Special Trades           |5.281         |
|vancouver     |Special Beauty Culturist *Historic*   |5.225         |
|port coquitlam|Repair/ Service/Maintenance *Historic*|5.000         |
|surrey        |Electrical Contractor                 |4.853         |
|vancouver     |Educational                           |4.477         |
|coquitlam     |Instruction *Historic*                |4.000         |
+--------------+--------------------------------------+--------------+

#### ðŸ“ˆ Business types with the highest average annual growth are those that show the greatest potential for expansion and represent emerging trends in the local market.

### Question 03
- What are the most stable business types (least likely to close within 5 years)?
- Necessary Data: `businesstype`, `issueddate`, `expireddate`, `status`.


#### Formulas

- **Longevity (in years)**:
  $\text{Active Years} = \frac{\text{DATEDIFF}(\text{expireddate}, \text{issueddate})}{365}$

- **Stable Flag**:
  $\text{is\_stable} =
  \begin{cases}
  1 & \text{if Active Years} \geq 5 \\
  0 & \text{otherwise}
  \end{cases}$

- **Stability Rate**:
  $\text{Stability Rate} = \frac{\sum \text{is\_stable}}{\text{Total Businesses}}$

In [15]:
spark.sql   ("""
-- Find out how long each company has been in business. Using the company name, the first date it was in 'Issued' status, and the last date the status changed to 'Inactive' or 'Gone Out of Business'.
            WITH business_lifecycle AS (
            SELECT  businessname,
                    businesstype,
                    MIN(issueddate) AS first_issued_date,
                    MAX(CASE    WHEN status IN ('Inactive', 'Gone Out of Business')
                                AND YEAR(expireddate) BETWEEN 1997 AND 2024
                                THEN expireddate
                        END)    AS final_status_date
            FROM data
            WHERE status IN ('Issued', 'Inactive', 'Gone Out of Business')
            AND issueddate IS NOT NULL
            AND YEAR(issueddate) BETWEEN 1997 AND 2024
            AND businesstype IS NOT NULL
            AND businessname IS NOT NULL
            AND businesstype NOT LIKE '%*Historic%'
            AND city IS NOT NULL
            GROUP BY businessname, businesstype),

-- Calculate the duration (in years) and if it has passed 5 years. [>= 5 * 365 = 1,825 days]. COALENSE for dealing with NULL values and the flag for filtering the values.
            with_stability_flag AS (
            SELECT *,
                    DATEDIFF(COALESCE(final_status_date, CURRENT_DATE), first_issued_date) / 365.0 AS active_years,
                    CASE    WHEN DATEDIFF(COALESCE(final_status_date, CURRENT_DATE), first_issued_date) >= 5 * 365
                            THEN 1 ELSE 0
                    END AS is_stable
            FROM business_lifecycle)

-- Combine everything:
-- Stability Rate = % of businesses that lasted 5+ years
-- Longevity = DATEDIFF / 365
-- Stable = lasted 5 years or more
            SELECT  businesstype,
                    COUNT(*) AS total_businesses,
                    SUM(is_stable) AS stable_businesses,
                    ROUND(SUM(is_stable) * 1.0 / COUNT(*), 3) AS stability_rate
            FROM with_stability_flag
            GROUP BY businesstype
            ORDER BY stability_rate DESC

            """).show(30, truncate = False)

+------------------------------+----------------+-----------------+--------------+
|businesstype                  |total_businesses|stable_businesses|stability_rate|
+------------------------------+----------------+-----------------+--------------+
|Peddler - Food                |6               |6                |1.000         |
|Trailer Court                 |1               |1                |1.000         |
|Exotic Dancers                |5               |5                |1.000         |
|Vending Machines              |25              |25               |1.000         |
|Horse Racing                  |2               |2                |1.000         |
|Auto Wrecker                  |1               |1                |1.000         |
|Backyard Pay Parking          |9               |9                |1.000         |
|Lumber Yard                   |10              |10               |1.000         |
|Christmas Tree Lot            |27              |27               |1.000         |
|Late Night Dance Event        |49              |49               |1.000         |
|Bowling Alley                 |5               |5                |1.000         |
|Transient Trader/Peddler-W    |7               |7                |1.000         |
|Machinery Dealer              |14              |14               |1.000         |
|Sprinkler & Gas Contractor    |2               |2                |1.000         |
|Transient Trader/Peddler-A    |3               |3                |1.000         |
|Amusement Park                |2               |2                |1.000         |
|Bingo Hall                    |4               |4                |1.000         |
|Motel                         |2               |2                |1.000         |
|Wedding Chapel                |1               |1                |1.000         |
|Live-aboards                  |52              |51               |0.981         |
|One-Family Dwelling           |9523            |9166             |0.963         |
|Junk Dealer                   |21              |20               |0.952         |
|Personal Care Home            |41              |39               |0.951         |
|Retail Dealer - Market Outlet |17              |16               |0.941         |
|Exhibitions/Shows/Concerts    |776             |729              |0.939         |
|Peddler                       |64              |60               |0.938         |
|Apartment House-99 Year Lease |16              |15               |0.938         |
|Equipment Operator            |195             |182              |0.933         |
|Duplex                        |2239            |2086             |0.932         |
|Electrical-Temporary (Filming)|1578            |1452             |0.920         |
+------------------------------+----------------+-----------------+--------------+
only showing top 30 rows

#### ðŸ“ˆ Business types with a high stability rate indicate a low risk of failure and are good candidates for entrepreneurs or investors.

### Question 04
- Which business types show strong historical performance and future growth potential?
- Necessary Data: `businesstype`, `issueddate`, `status`, `numberofemployees`.

Question 04 combines **stability** from Question 03 and **growth** from Question 02 â€” so the new logic lies in how we combine and filter these metrics.

---

#### Combined Selection Logic

This is the **key new part** of Question 04: identifying business types that are **both stable and growing**.

**Combined Filter Condition**:
```sql
WHERE stability_rate >= 0.588 AND avg_yoy_growth > 0

In [16]:
spark.sql   ("""
-- THIS QUESTION COMBINES MULTIPLE COMMON TABLE EXPRESSIONS (CTE) FROM PAST QUESTIONS.
-- business_lifecycle from question 03
            WITH business_lifecycle AS (
            SELECT  businessname,
                    businesstype,
                    MIN(issueddate) AS first_issued_date,
                    MAX(CASE    WHEN status IN ('Inactive', 'Gone Out of Business')
                                AND YEAR(expireddate) BETWEEN 1997 AND 2024
                                THEN expireddate
                        END)    AS final_status_date
            FROM data
            WHERE status IN ('Issued', 'Inactive', 'Gone Out of Business')
            AND issueddate IS NOT NULL
            AND YEAR(issueddate) BETWEEN 1997 AND 2024
            AND businesstype IS NOT NULL
            AND businessname IS NOT NULL
            GROUP BY businessname, businesstype),

-- stability_flag from question 03
            with_stability_flag AS (
            SELECT  *,
                    DATEDIFF(final_status_date, first_issued_date) / 365.0 AS active_years,
                    CASE    WHEN DATEDIFF(final_status_date, first_issued_date) >= 5 * 365 THEN 1 ELSE 0
                    END     AS is_stable
            FROM business_lifecycle
            WHERE final_status_date IS NOT NULL),

            stability_summary AS (
            SELECT  businesstype,
                    COUNT(*) AS total_closed,
                    SUM(is_stable) AS stable_closed,
                    ROUND(SUM(is_stable) * 1.0 / COUNT(*), 3) AS stability_rate
            FROM with_stability_flag
            GROUP BY businesstype),


            recent_years AS (
            SELECT  businesstype,
                    YEAR(issueddate) AS year,
                    COUNT(*) AS licences
            FROM data
            WHERE status = 'Issued'
            AND YEAR(issueddate) BETWEEN 2018 AND 2024
            AND businesstype IS NOT NULL
            GROUP BY businesstype, year),

-- yoy growth from question 02
            growth AS (
            SELECT  r1.businesstype,
                    r1.year,
                    r1.licences,
                    r1.licences - r0.licences AS licence_diff,
                    ROUND((r1.licences - r0.licences) * 1.0 / r0.licences, 3) AS yoy_growth
            FROM recent_years r1
            JOIN recent_years r0
            ON r1.businesstype = r0.businesstype AND r1.year = r0.year + 1),

            growth_summary AS (
            SELECT  businesstype,
                    ROUND(AVG(yoy_growth), 3) AS avg_yoy_growth
            FROM growth
            GROUP BY businesstype)

            SELECT  s.businesstype,
                    s.stability_rate,
                    g.avg_yoy_growth
            FROM stability_summary s
            JOIN growth_summary g   ON s.businesstype = g.businesstype
            WHERE s.stability_rate >= 0.588  -- Above national benchmark
              AND g.avg_yoy_growth > 0       -- Positive growth trend
            ORDER BY g.avg_yoy_growth DESC, s.stability_rate DESC
            LIMIT 10;


            """).show(20, truncate=False)

+------------------------+--------------+--------------+
|businesstype            |stability_rate|avg_yoy_growth|
+------------------------+--------------+--------------+
|Bingo Hall              |1.000         |1.000         |
|Auto Parking Lot/Parkade|0.634         |0.038         |
+------------------------+--------------+--------------+

#### ðŸ“ˆ Sectors with high stability and growth suggest an excellent opportunity for investment or entry of new players.

#### According to Canadian business statistics, 58.8% of new businesses survive 5 years.
- 2023: https://ised-isde.canada.ca/site/sme-research-statistics/en/key-small-business-statistics/key-small-business-statistics-2023
- 2024: https://ised-isde.canada.ca/site/sme-research-statistics/en/key-small-business-statistics/key-small-business-statistics-2024

### Question 05
- Which city is oversaturated with the same business types?
- Necessary Data: `city`, `businesstype`, `businesssubtype`, `issueddate`, `status`, `licencersn`.

Oversaturated cities that have a high concentration of one or a few business types compared to the total number of businesses â€” meaning there's less diversity, and more direct competition.

#### Herfindahl-Hirschman Index (HHI)

The **HHI** is used to measure how concentrated or saturated a city is with a limited set of business types:

$ \text{HHI} = \sum_{i=1}^{n} \left( \frac{B_i}{T} \right)^2 $

Where:

- \( B_i \) = Number of businesses of type \( i \) in the city
- \( T \) = Total number of businesses in the city
- \( n \) = Total number of unique business types

**Interpretation**:
- HHI near **1.0** â†’ High concentration (few business types dominate)
- HHI near **0.0** â†’ High diversity (many types, well-distributed)

In [17]:
spark.sql   ("""

            WITH city_total AS (
            SELECT  city,
                    COUNT(*) AS total
            FROM data
            WHERE status = 'Issued'
                AND city IS NOT NULL
                AND businesstype IS NOT NULL
                AND licencersn IS NOT NULL
            GROUP BY city),


            city_type_counts AS (
            SELECT  city,
                    businesstype,
                    COUNT(*) AS count_bt
            FROM data
            WHERE status = 'Issued'
                AND city IS NOT NULL
                AND businesstype IS NOT NULL
                AND licencersn IS NOT NULL
            GROUP BY city, businesstype),


            city_hhi AS (
            SELECT  c.city,
                    ROUND(SUM(POW(ct.count_bt * 1.0 / c.total, 2)), 4) AS hhi_index
            FROM city_type_counts ct
            JOIN city_total c ON ct.city = c.city
            GROUP BY c.city)

-- combine
            SELECT *
            FROM city_hhi
            ORDER BY hhi_index DESC
            LIMIT 20

            """).show(20, truncate=False)

+---------------+---------+
|city           |hhi_index|
+---------------+---------+
|anmore         |0.1639   |
|belcarra       |0.1634   |
|west vancouver |0.1523   |
|bowen island   |0.1294   |
|langley        |0.1169   |
|white rock     |0.1153   |
|lions bay      |0.1109   |
|delta          |0.1025   |
|surrey         |0.0972   |
|port moody     |0.0957   |
|richmond       |0.0948   |
|north vancouver|0.0944   |
|maple ridge    |0.094    |
|port coquitlam |0.0875   |
|coquitlam      |0.0861   |
|new westminster|0.0856   |
|pitt meadows   |0.0855   |
|burnaby        |0.0764   |
|vancouver      |0.0439   |
+---------------+---------+

#### ðŸ“ˆ Cities with high HHI indicate low commercial diversity, which may represent high competition and less opportunity for new similar businesses.

### Question 6
- How does business longevity differ between cities or business categories?
- Necessary Data: issueddate, expireddate, businesstype, businesssubtype, city, status.

In [19]:
spark.sql("""

-- CTE: business lifecycle to calculate the longevity of each business;
-- Number of years each business was active
-- The MIN gets the first license emition for each business;
-- The MAX CASE WHEN gets final status date when it appears as 'inactive' or 'gone out of business';
-- Filtering the status of the businesses.

WITH business_lifecycle AS (
  SELECT
    businessname,
    businesstype,
    city,
    MIN(issueddate) AS first_issued_date,
    MAX(CASE
         WHEN status IN ('Inactive', 'Gone Out of Business')
         AND YEAR(expireddate) BETWEEN 1997 AND 2024
         THEN expireddate
        END) AS final_status_date
  FROM data
  WHERE status IN ('Issued', 'Inactive', 'Gone Out of Business')
    AND issueddate IS NOT NULL
    AND businesstype IS NOT NULL
    AND businessname IS NOT NULL
  GROUP BY businessname, businesstype, city
),

-- This CTE query below calculate the difference between first emition and last status date in years;
-- The CASE WHEN returns 1 if the difference is greater than 5 years (stable);
-- The fourth step is to find the percentage of businesses considered stable in each group;

stability_flag AS (
  SELECT
    *,
    ROUND(DATEDIFF(COALESCE(final_status_date, CURRENT_DATE), first_issued_date) / 365.0, 2) AS active_years,
    CASE
        WHEN DATEDIFF(COALESCE(final_status_date, CURRENT_DATE), first_issued_date) >= 5 * 365
        THEN 1 ELSE 0
        END AS is_stable
  FROM business_lifecycle
)

-- Business types are ranked within each city based on their average longevity
-- A business is considered **stable** if it stayed active for **5 years or more**

SELECT *
FROM (
  SELECT
    city,
    businesstype,
    COUNT(*) AS total_businesses,
    ROUND(AVG(active_years), 2) AS avg_longevity_years,
    ROUND(AVG(is_stable) * 100, 1) AS percent_stable_businesses,
    RANK() OVER (PARTITION BY city ORDER BY AVG(active_years) DESC) AS rank
  FROM stability_flag
  GROUP BY city, businesstype
  HAVING
    COUNT(*) >= 5
) AS ranked_businesses
WHERE rank <= 5
ORDER BY city, rank

""").show(100, truncate = False)

+---------------+--------------------------------------+----------------+-------------------+-------------------------+----+
|city           |businesstype                          |total_businesses|avg_longevity_years|percent_stable_businesses|rank|
+---------------+--------------------------------------+----------------+-------------------+-------------------------+----+
|anmore         |Electrical Contractor                 |9               |15.57              |100.0                    |1   |
|anmore         |Contractor                            |17              |13.87              |82.4                     |2   |
|anmore         |Plumber                               |9               |11.04              |55.6                     |3   |
|belcarra       |Contractor                            |5               |11.14              |80.0                     |1   |
|bowen island   |Electrical Contractor                 |5               |17.84              |100.0                    |1   |
|bowen island   |Contractor                            |21              |14.91              |90.5                     |2   |
|bowen island   |Office                                |17              |11.68              |70.6                     |3   |
|bowen island   |Instruction                           |5               |11.03              |80.0                     |4   |
|bowen island   |Contractor - Special Trades           |6               |8.96               |66.7                     |5   |
|burnaby        |Conventional Gas Station *Historic*   |6               |28.26              |100.0                    |1   |
|burnaby        |Apartment House                       |12              |26.25              |100.0                    |2   |
|burnaby        |One-Family Dwelling                   |35              |25.28              |94.3                     |3   |
|burnaby        |Restaurant Class 1                    |5               |22.59              |80.0                     |4   |
|burnaby        |Equipment Operator                    |16              |22.06              |100.0                    |5   |
|coquitlam      |One-Family Dwelling                   |6               |26.35              |100.0                    |1   |
|coquitlam      |Wholesale  Dealer                     |12              |21.17              |100.0                    |2   |
|coquitlam      |Plumber Sprinkler & Gas Contractor    |5               |18.64              |80.0                     |3   |
|coquitlam      |Painter                               |31              |18.38              |93.5                     |4   |
|coquitlam      |Sprinkler Contractor                  |32              |17.74              |90.6                     |5   |
|delta          |One-Family Dwelling                   |6               |28.15              |100.0                    |1   |
|delta          |Equipment Operator                    |8               |22.21              |87.5                     |2   |
|delta          |Electrical-Security Alarm Installation|24              |21.38              |100.0                    |3   |
|delta          |Sprinkler Contractor                  |13              |20.57              |100.0                    |4   |
|delta          |Repair/ Service/Maintenance           |21              |19.72              |95.2                     |5   |
|langley        |Retail Dealer                         |10              |19.95              |90.0                     |1   |
|langley        |Exhibitions/Shows/Concerts            |5               |18.51              |100.0                    |2   |
|langley        |Plumber                               |103             |15.82              |84.5                     |3   |
|langley        |Personal Services                     |17              |15.76              |94.1                     |4   |
|langley        |Equipment Operator                    |8               |14.89              |87.5                     |5   |
|lions bay      |Office                                |8               |18.21              |100.0                    |1   |
|lions bay      |Contractor                            |7               |12.34              |100.0                    |2   |
|maple ridge    |Moving/Transfer Service               |5               |23.41              |100.0                    |1   |
|maple ridge    |Plumber & Sprinkler Contractor        |5               |17.93              |80.0                     |2   |
|maple ridge    |Painter                               |17              |16.87              |94.1                     |3   |
|maple ridge    |Roofer                                |5               |16.83              |80.0                     |4   |
|maple ridge    |Electrical-Security Alarm Installation|19              |16.44              |84.2                     |5   |
|new westminster|Plumber & Sprinkler Contractor        |5               |20.55              |100.0                    |1   |
|new westminster|Exhibitions/Shows/Concerts            |5               |20.24              |100.0                    |2   |
|new westminster|Landscape Gardener                    |20              |19.66              |100.0                    |3   |
|new westminster|Roofer                                |9               |19.23              |88.9                     |4   |
|new westminster|Electrical Contractor                 |103             |19.03              |96.1                     |5   |
|north vancouver|Apartment House                       |8               |27.88              |100.0                    |1   |
|north vancouver|One-Family Dwelling                   |12              |27.63              |100.0                    |2   |
|north vancouver|Scavenging                            |6               |19.78              |100.0                    |3   |
|north vancouver|Moving/Transfer Service               |9               |18.96              |88.9                     |4   |
|north vancouver|Plumber & Sprinkler Contractor        |6               |18.54              |66.7                     |5   |
|pitt meadows   |Painter                               |5               |18.13              |100.0                    |1   |
|pitt meadows   |Electrical Contractor                 |41              |13.15              |85.4                     |2   |
|pitt meadows   |Contractor - Special Trades           |29              |12.95              |79.3                     |3   |
|pitt meadows   |Contractor                            |27              |12.83              |77.8                     |4   |
|pitt meadows   |Plumber                               |16              |12.79              |68.8                     |5   |
|port coquitlam |Exhibitions/Shows/Concerts            |9               |19.25              |100.0                    |1   |
|port coquitlam |Plumber Sprinkler & Gas Contractor    |5               |17.29              |100.0                    |2   |
|port coquitlam |Sprinkler Contractor                  |16              |15.47              |87.5                     |3   |
|port coquitlam |Retail Dealer                         |10              |15.16              |90.0                     |4   |
|port coquitlam |Moving/Transfer Service               |8               |14.82              |100.0                    |5   |
|port moody     |Sprinkler Contractor                  |6               |23.30              |100.0                    |1   |
|port moody     |Repair/ Service/Maintenance           |5               |20.60              |100.0                    |2   |
|port moody     |Landscape Gardener                    |5               |17.55              |80.0                     |3   |
|port moody     |Electrical-Security Alarm Installation|16              |16.90              |75.0                     |4   |
|port moody     |Plumber                               |36              |16.01              |83.3                     |5   |
|richmond       |Multiple Dwelling                     |5               |28.15              |100.0                    |1   |
|richmond       |One-Family Dwelling                   |29              |26.60              |96.6                     |2   |
|richmond       |Equipment Operator                    |39              |22.33              |94.9                     |3   |
|richmond       |Apartment House                       |7               |22.01              |85.7                     |4   |
|richmond       |Painter                               |47              |21.40              |97.9                     |5   |
|surrey         |Apartment House                       |5               |27.74              |100.0                    |1   |
|surrey         |One-Family Dwelling                   |12              |25.26              |100.0                    |2   |
|surrey         |Financial Services                    |8               |22.60              |100.0                    |3   |
|surrey         |Equipment Operator                    |36              |20.64              |94.4                     |4   |
|surrey         |Sprinkler Contractor                  |59              |19.47              |91.5                     |5   |
|vancouver      |Backyard Pay Parking                  |9               |27.61              |100.0                    |1   |
|vancouver      |Gas Station - Marine *Historic*       |5               |27.50              |100.0                    |2   |
|vancouver      |Lumber Yard                           |9               |26.32              |100.0                    |3   |
|vancouver      |Vending Machines                      |20              |25.33              |100.0                    |4   |
|vancouver      |Electrolysis  *Historic*              |14              |25.14              |92.9                     |5   |
|west vancouver |One-Family Dwelling                   |11              |28.02              |100.0                    |1   |
|west vancouver |Apartment House                       |8               |26.62              |100.0                    |2   |
|west vancouver |Wholesale  Dealer                     |8               |21.60              |87.5                     |3   |
|west vancouver |Exhibitions/Shows/Concerts            |5               |21.47              |100.0                    |4   |
|west vancouver |Plumber                               |16              |19.23              |93.8                     |5   |
|white rock     |Repair/ Service/Maintenance           |5               |22.62              |100.0                    |1   |
|white rock     |Plumber                               |12              |20.99              |91.7                     |2   |
|white rock     |Landscape Gardener                    |6               |17.76              |83.3                     |3   |
|white rock     |Plumber & Gas Contractor              |10              |15.94              |90.0                     |4   |
|white rock     |Contractor                            |71              |14.58              |83.1                     |5   |
+---------------+--------------------------------------+----------------+-------------------+-------------------------+----+

#### QUESTION 6 EXPLANATION:
Business Longevity & Stability Analysis by City and Type

This analysis explores how long businesses remain active and identifies which business types are the most resilient across cities.
---

##### 1. Business Longevity (Active Years)

$$
\text{active\_years} = \frac{\text{DATEDIFF}(\text{final\status\date or CURRENT\DATE}, \text{first\issued\date})}{365}
$$

---

##### 2. Business Stability Criteria



$$
\text{is\stable} =
\begin{cases}
1, & \text{if } \text{active\years} \geq 5 \\
0, & \text{otherwise}
\end{cases}
$$

---

#### 3. Average Longevity per Business Type and City



$$
\text{avg\longevity\years} = \frac{1}{n} \sum_{i=1}^{n} \text{active\years}_i
$$

---

##### 4. Percentage of Stable Businesses



$$
\text{percent\stable\businesses} = \left( \frac{\sum_{i=1}^{n} \text{is\stable}_i}{n} \right) \times 100
$$

---

##### 5. Ranking of Business Types by Longevity (per City)



$$
\text{rank}_{\text{(city)}} = \text{RANK()} \text{ over } (\text{PARTITION BY city ORDER BY avg\longevity\years DESC})
$$

---

### Question 7. Are there seasonal patterns in new business openings or closures?
- Necessary Data: issueddate, expireddate, status, businesstype, city, localarea.

In [20]:
spark.sql("""

-- CTE: monthly business openings by year
-- First step was group all businesses with status = `'issued'` by **year and month** of their issuance, then calculate the average across years:

WITH openings_by_month_year AS (
  SELECT
    YEAR(issueddate) AS year,
    MONTH(issueddate) AS month_num,
    DATE_FORMAT(issueddate, 'MMM') AS month_name,
    COUNT(*) AS openings
  FROM data
  WHERE status = 'Issued'
    AND issueddate IS NOT NULL
  GROUP BY YEAR(issueddate), MONTH(issueddate), DATE_FORMAT(issueddate, 'MMM')
),

-- CTE: monthly business closures by year
-- The second part was filtering businesses with status `'inactive'` or `'gone out of business'` by **year and month** of their expiration date, then calculate the average closures per month:

closures_by_month_year AS (
  SELECT
    YEAR(expireddate) AS year,
    MONTH(expireddate) AS month_num,
    DATE_FORMAT(expireddate, 'MMM') AS month_name,
    COUNT(*) AS closures
  FROM data
  WHERE status IN ('Gone Out of Business', 'Inactive')
    AND expireddate IS NOT NULL
  GROUP BY YEAR(expireddate), MONTH(expireddate), DATE_FORMAT(expireddate, 'MMM')
),

-- CTE: Retrieve the average openings per month across years

avg_openings AS (
  SELECT
    month_num,
    month_name,
    ROUND(AVG(openings), 2) AS avg_openings_per_month
  FROM openings_by_month_year
  GROUP BY month_num, month_name
),

-- CTE: The same as the previous one, but for closures:
avg_closures AS (
  SELECT
    month_num,
    month_name,
    ROUND(AVG(closures), 2) AS avg_closures_per_month
  FROM closures_by_month_year
  GROUP BY month_num, month_name
)

-- Final result: JOIN both averages in a single query ignoring NULL values with COALESCE:

SELECT
  o.month_num,
  o.month_name,
  COALESCE(o.avg_openings_per_month, 0) AS avg_business_openings,
  COALESCE(c.avg_closures_per_month, 0) AS avg_business_closures
FROM avg_openings o
LEFT JOIN avg_closures c ON o.month_num = c.month_num
ORDER BY o.month_num

""").show(100, truncate = False)

+---------+----------+---------------------+---------------------+
|month_num|month_name|avg_business_openings|avg_business_closures|
+---------+----------+---------------------+---------------------+
|1        |Jan       |11496.57             |6.5                  |
|2        |Feb       |5442.29              |4.6                  |
|3        |Mar       |3043.14              |7.0                  |
|4        |Apr       |1667.79              |5.0                  |
|5        |May       |1043.75              |2.0                  |
|6        |Jun       |914.93               |1.8                  |
|7        |Jul       |808.59               |1.2                  |
|8        |Aug       |698.21               |2.0                  |
|9        |Sep       |680.78               |1.0                  |
|10       |Oct       |759.89               |19.62                |
|11       |Nov       |6545.85              |1.4                  |
|12       |Dec       |15262.25             |2029.33              |
+---------+----------+---------------------+---------------------+

#### QUESTION 7 EXPLANATION:

Seasonality of Business Openings and Closures

This analysis investigates whether there are **seasonal trends** in how businesses open or close throughout the year.
---

##### 1. Monthly Business Openings

$$
\text{avg\business\openings}_{m} = \frac{1}{Y} \sum_{y=1}^{Y} \text{openings}_{m, y}
$$

Where:
- $m$ = month number (e.g. January = 1)
- $y$ = year
- $Y$ = total number of years in the dataset

---

##### 2. Monthly Business Closures

$$
\text{avg\business\closures}_{m} = \frac{1}{Y} \sum_{y=1}^{Y} \text{closures}_{m, y}
$$

Where:
- $m$ = month number (e.g. January = 1)
- $y$ = year
- $Y$ = total number of years in the dataset
---

##### 3. Merging the Two Trends

The final result joins both average metrics by `month_num` (1â€“12), helping us visualize **seasonal patterns** in openings and closures side-by-side.

---

### Question 8. What proportion of licences are renewed vs. replaced with new ones each year?
- Necessary Data: licencersn, issueddate, businesstype, status, city.

In [21]:
spark.sql("""

-- CTE: first appearance of each business.
-- This first block brings the first year each business appeared
--      for the first time in the dataset, it means emited the first licence.

WITH first_appearance AS (
  SELECT
    businessname,
    MIN(YEAR(issueddate)) AS first_year
  FROM data
  WHERE issueddate IS NOT NULL
    AND businessname IS NOT NULL
  GROUP BY businessname
),

-- CTE: JOIN the previous CTE (first_appearance) torelate the first_year with the current year,
--      and use the CASE WHEN statement to filter the businesses between new and renewal.

new_renewal AS (
  SELECT
    YEAR(l.issueddate) AS year,
    CASE
      WHEN YEAR(l.issueddate) = f.first_year THEN 'new'
      ELSE 'renewal'
    END AS licence_type
  FROM data l
  JOIN first_appearance f ON l.businessname = f.businessname
  WHERE l.issueddate IS NOT NULL
)

-- In this third part was necessary to group the data by year and count each licence type.
-- Also was mandatory to count new or renewal based on the condition
-- and the same with the proportion of each type.
-- The WHERE filter > 1996, was to avoid wrong data.

SELECT
  year,
  COUNT(CASE WHEN licence_type = 'new' THEN 1 END) AS new_licences,
  COUNT(CASE WHEN licence_type = 'renewal' THEN 1 END) AS renewals,
  ROUND(COUNT(CASE WHEN licence_type = 'new' THEN 1 END) * 1.0 / COUNT(*), 2) AS proportion_new,
  ROUND(COUNT(CASE WHEN licence_type = 'renewal' THEN 1 END) * 1.0 / COUNT(*), 2) AS proportion_renewal
FROM new_renewal
WHERE year > 1996
GROUP BY year
ORDER BY year

""").show(30,truncate = False)

+----+------------+--------+--------------+------------------+
|year|new_licences|renewals|proportion_new|proportion_renewal|
+----+------------+--------+--------------+------------------+
|1997|40800       |0       |1.00          |0.00              |
|1998|9288        |36714   |0.20          |0.80              |
|1999|7410        |41650   |0.15          |0.85              |
|2000|6119        |35507   |0.15          |0.85              |
|2001|6645        |40303   |0.14          |0.86              |
|2002|7923        |52310   |0.13          |0.87              |
|2003|8779        |45351   |0.16          |0.84              |
|2004|9854        |45554   |0.18          |0.82              |
|2005|8351        |37462   |0.18          |0.82              |
|2006|7838        |44034   |0.15          |0.85              |
|2007|6927        |40848   |0.14          |0.86              |
|2008|7512        |39213   |0.16          |0.84              |
|2009|8279        |47307   |0.15          |0.85              |
|2010|8324        |40389   |0.17          |0.83              |
|2011|7596        |41745   |0.15          |0.85              |
|2012|8555        |50591   |0.14          |0.86              |
|2013|7547        |45568   |0.14          |0.86              |
|2014|7576        |44019   |0.15          |0.85              |
|2015|7335        |41667   |0.15          |0.85              |
|2016|7993        |43713   |0.15          |0.85              |
|2017|8318        |42345   |0.16          |0.84              |
|2018|10205       |42645   |0.19          |0.81              |
|2019|8948        |43663   |0.17          |0.83              |
|2020|5878        |41823   |0.12          |0.88              |
|2021|7369        |48084   |0.13          |0.87              |
|2022|7823        |43096   |0.15          |0.85              |
|2023|8920        |47040   |0.16          |0.84              |
|2024|2322        |11621   |0.17          |0.83              |
+----+------------+--------+--------------+------------------+

#### QUESTION 8 EXPLANATION:
Proportion of New vs Renewal Business Licences by Year

This analysis evaluates the **proportion of newly issued licences** versus **renewals** over time, highlighting trends in business entries and continuities.

---

##### 1. Identifying the First Year of Each Business

$$
\text{first\_year}_b = \min(\text{YEAR}(\text{issueddate})) \quad \text{for each business } b
$$

---

##### 2. Classifying Licences by Type

- **New**: if the `issueddate` equals the business's `first_year`
- **Renewal**: if the `issueddate` is later than the `first_year`

This logic is implemented via:

```sql
CASE
  WHEN YEAR(issueddate) = first_year THEN 'new'
  ELSE 'renewal'
END
```
---

##### 3. Aggregating Licence Types by Year

- Number of new licences per year:

$$
\text{new\_licences}_y = \text{COUNT(CASE WHEN licence\_type = 'new')}
$$

- Number of renewals per year:

$$
\text{renewals}_y = \text{COUNT(CASE WHEN licence\_type = 'renewal')}
$$

- Proportions:

$$
\text{proportion\_new}_y = \frac{\text{new\_licences}_y}{\text{total\_licences}_y}
$$

$$
\text{proportion\_renewal}_y = \frac{\text{renewals}_y}{\text{total\_licences}_y}
$$

---

### Question 9. How often are business licences cancelled or made inactive, and what are the patterns by category?
- Necessary Data: businesstype, status, issueddate, expireddate, city, localarea.

In [24]:
spark.sql("""

-- Step 1: We first aggregate the following per `businesstype` and `year`


-- Step 2: We use a window function to rank business types per year based on their
--   `percent_inactive_or_cancelled`, in descending order.


WITH ranked_businesses AS (
  SELECT
    businesstype,
    YEAR(expireddate) AS year,
    COUNT(*) AS total_licenses,
    SUM(CASE WHEN status IN ('Inactive', 'Gone Out of Business') THEN 1 ELSE 0 END) AS total_inactive_or_cancelled,
    ROUND(SUM(CASE WHEN status IN ('Inactive', 'Gone Out of Business') THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS percent_inactive_or_cancelled,
    ROUND(COUNT(*) / (YEAR(CURRENT_DATE) - YEAR(MIN(expireddate))),0) AS avg_licenses_per_year,
    RANK() OVER (PARTITION BY YEAR(expireddate) ORDER BY ROUND(SUM(CASE WHEN status IN ('Inactive', 'Gone Out of Business') THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) DESC) AS rank
  FROM
    data
  WHERE
    issueddate IS NOT NULL
    AND expireddate IS NOT NULL
    AND YEAR(issueddate) BETWEEN 1997 AND 2024
    AND YEAR(expireddate) BETWEEN 1997 AND 2024
  GROUP BY
    businesstype, YEAR(expireddate)
)

-- Step 3: to only retrieve the top 3 business types each year.

SELECT
  businesstype,
  year,
  total_licenses,
  total_inactive_or_cancelled,
  percent_inactive_or_cancelled,
  avg_licenses_per_year
FROM
  ranked_businesses
WHERE
  rank <= 3
ORDER BY
  year DESC, total_inactive_or_cancelled DESC;

""").show(truncate = False)

+------------------------------+----+--------------+---------------------------+-----------------------------+---------------------+
|businesstype                  |year|total_licenses|total_inactive_or_cancelled|percent_inactive_or_cancelled|avg_licenses_per_year|
+------------------------------+----+--------------+---------------------------+-----------------------------+---------------------+
|Exhibitions/Shows/Concerts    |2024|51            |48                         |94.12                        |51.0                 |
|Temp Liquor Licence Amendment |2024|32            |14                         |43.75                        |32.0                 |
|Electrical-Temporary (Filming)|2024|26            |9                          |34.62                        |26.0                 |
|Casino *Historic*             |2023|3             |2                          |66.67                        |2.0                  |
|Horse Racing *Historic*       |2023|2             |1                          |50.00                        |1.0                  |
|Dating Services *Historic*    |2023|3             |1                          |33.33                        |2.0                  |
|Private Hospital *Historic*   |2022|8             |2                          |25.00                        |3.0                  |
|Booking Agency *Historic*     |2022|9             |2                          |22.22                        |3.0                  |
|Soliciting For Charity        |2022|5             |1                          |20.00                        |2.0                  |
|School (Private)              |2021|72            |9                          |12.50                        |18.0                 |
|Pest Control/Exterminator     |2021|29            |4                          |13.79                        |7.0                  |
|Laundry (w/equipment)         |2021|10            |2                          |20.00                        |3.0                  |
|Entertainment Centre          |2021|8             |1                          |12.50                        |2.0                  |
|Restaurant Class 2            |2020|27            |5                          |18.52                        |5.0                  |
|Lumber Yard                   |2020|2             |1                          |50.00                        |0.0                  |
|Pawnbroker                    |2020|7             |1                          |14.29                        |1.0                  |
|Business Services             |2020|7             |1                          |14.29                        |1.0                  |
|Private Hospital              |2019|6             |2                          |33.33                        |1.0                  |
|Laundry (w/equipment)         |2019|11            |2                          |18.18                        |2.0                  |
|Social Escort Services        |2019|2             |1                          |50.00                        |0.0                  |
+------------------------------+----+--------------+---------------------------+-----------------------------+---------------------+
only showing top 20 rows

#### QUESTION 9 EXPLANATION:
Top 3 Business Types with Highest Inactivity or Cancellation Rates per Year

This query identifies the top 3 business categories **each year** that were **most prone to becoming inactive or cancelled**, highlighting patterns of instability in the business landscape.

---

##### 1. Calculating Cancellation Metrics by Business Type


- **Total licences issued**:
  $$
  \text{total\_licenses}_{t,y} = \text{COUNT(*)}
  $$

- **Total inactive or cancelled licences**:
  $$
  \text{cancelled}_{t,y} = \text{SUM(CASE WHEN status = 'inactive' OR 'gone out of business')}
  $$

- **Percentage of licences that ended up inactive or cancelled**:
  $$
  \text{percent\_cancelled}_{t,y} = \frac{\text{cancelled}_{t,y}}{\text{total\_licenses}_{t,y}} \times 100
  $$

- **Average licences per year** (based on range of data):
  $$
  \text{avg\_licenses\_per\_year}_{t,y} = \frac{\text{total\_licenses}_{t,y}}{\text{YEAR(CURRENT\_DATE)} - \min(\text{expireddate})}
  $$

---

##### 2. Ranking the Categories by Year

```sql
RANK() OVER (
  PARTITION BY YEAR(expireddate)
  ORDER BY percent_inactive_or_cancelled DESC
)
```

---

##### 3. Filtering to Top 3 Per Year

We then filter to include only the **top 3 categories** each year using `WHERE rank <= 3`.

---

### Question 10. Which subtypes within a business category show more resilience or popularity?
- Necessary Data: businesstype, status, issueddate, expireddate, city.

In [25]:
spark.sql("""

-- For each business entry, we calculate its duration in years with the DATEDIFF function,
-- this estimates how long the business stayed active, defaulting to today if not expired.

WITH longevity_data AS (
  SELECT
    businesstype,
    businesssubtype,
    DATEDIFF(COALESCE(expireddate, CURRENT_DATE), issueddate) / 365.0 AS longevity_years,
    status
  FROM
    data
  WHERE
    issueddate IS NOT NULL
    AND expireddate IS NOT NULL
    AND YEAR(issueddate) BETWEEN 1997 AND 2024
)

-- Step 2: for each combination of `businesstype` and `businesssubtype` is necessary to calculate
--         the average and give the criteria of this subtype be resilient or popular
--         based on the the years.

SELECT
  businesstype,
  businesssubtype,
  COUNT(businesssubtype) AS total_subtypes,
  ROUND(AVG(longevity_years), 2) AS avg_longevity_years,
  ROUND(SUM(CASE WHEN status NOT IN ('Inactive', 'Gone Out of Business') THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS percent_active
FROM
  longevity_data
WHERE
  businesstype IS NOT NULL
  AND businesssubtype IS NOT NULL
GROUP BY
  businesstype, businesssubtype
ORDER BY
  total_subtypes DESC, avg_longevity_years DESC;

""").show(truncate = False)

+---------------------------+---------------------+--------------+-------------------+--------------+
|businesstype               |businesssubtype      |total_subtypes|avg_longevity_years|percent_active|
+---------------------------+---------------------+--------------+-------------------+--------------+
|Office                     |Barrister & Solicitor|50524         |0.94               |96.60         |
|Office                     |Consultant           |45151         |0.90               |95.57         |
|Contractor                 |Building             |33230         |0.88               |97.21         |
|Office                     |Administration       |23602         |0.91               |95.24         |
|Retail Dealer              |Other                |21166         |0.89               |92.16         |
|Health Services            |Physician/Surgeon    |17956         |0.97               |97.94         |
|Contractor                 |Alterations & Repairs|17886         |0.85               |97.03         |
|Restaurant Class 1         |With Liquor Service  |16102         |0.95               |91.17         |
|Financial Services         |Accountant/Auditor   |15584         |0.93               |97.30         |
|Retail Dealer              |Clothing/Shoes       |13688         |0.90               |93.51         |
|Health Services            |Dentist              |11532         |0.98               |98.15         |
|Contractor - Special Trades|Other                |8905          |0.89               |97.30         |
|Office                     |Architect            |7803          |0.93               |95.85         |
|Restaurant Class 1         |No Liquor Service    |7478          |0.93               |89.45         |
|Computer Services          |Software             |7475          |0.88               |92.45         |
|Retail Dealer - Food       |Convenience Store    |7145          |0.91               |88.75         |
|Health and Beauty          |Beauty Salon         |6799          |0.96               |93.73         |
|Office                     |Other                |6007          |0.88               |94.31         |
|Manufacturer               |Other                |5917          |0.94               |95.96         |
|Office                     |Mining Exploration   |5914          |0.91               |93.08         |
+---------------------------+---------------------+--------------+-------------------+--------------+
only showing top 20 rows

#### QUESTION 10 EXPLANATION:
Business Subtype Resilience and Popularity

This analysis identifies which **business subtypes** within broader business categories demonstrate **resilience (long duration)** and **popularity (volume)** over time.

---

##### Query Logic Breakdown

##### 1. **Longevity Calculation**

$$
\text{longevity\_years} = \frac{\text{DATEDIFF}(\text{COALESCE}(\text{expireddate}, \text{CURRENT\_DATE}), \text{issueddate})}{365}
$$

---

##### 2. **Subtype Aggregation**


- **Total businesses**:
  $$
  \text{total\_subtypes} = \text{COUNT(businesssubtype)}
  $$

- **Average longevity**:
  $$
  \text{avg\_longevity\_years} = \text{AVG(longevity\_years)}
  $$

- **Percentage still active**:
  $$
  \text{percent\_active} = \left( \frac{\text{COUNT (status not in ['inactive', 'gone out of business'])}}{\text{total\_subtypes}} \right) \times 100
  $$

---

##### Important detail:

Subtypes that appear frequently (**high total_subtypes**) and remain active for longer (**high avg_longevity_years**, **high percent_active**) can be considered more **resilient** or **popular**.